NEXT_PUBLIC_BASE_URL=https://example.com
DATABASE_URL=mysql://USER:PASSWORD@HOST:3306/DATABASE_NAME
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_xxx
EMAIL_TO=you@example.com
RESEND_API_KEY=re_xxx
MYSQL_CONNECTION_LIMIT=10
