/* styles/Home.module.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.hero {
  background-color: #cac6c6;
  color: #fff;
  border-radius: 8px;
  text-align: center;
  padding: 3rem 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.hero h1 {
  font-size: 2.75rem;
  margin-bottom: 0.5rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.socialLinks a {
  margin: 0 0.5rem;
  color: #0D0D0D;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s;
}

.socialLinks a:hover {
  color: #526126; /* Dark-Pond-4 */
}

.blogIntro {
  margin-top: 2rem;
}

.blogIntro h2 {
  font-size: 2rem;
  color: #0D4A3A; /* Dark-Pond-2 */
  text-align: left;    /* Sol hizalama */
  margin-bottom: 1.5rem;
}

.postPreview {
  background-color: #5959588e; /* Dark-Pond-1 */
  border-left: 4px solid #0D4A3A; /* Dark-Pond-2 */
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 4px;
  color: #033B3D; /* Dark-Pond-1 (text) */
  transition: transform 0.2s, box-shadow 0.2s;
}

.postPreview:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.postPreview h3 a {
  color: #0D4A3A; /* Dark-Pond-2 */
  font-size: 1.25rem;
  text-decoration: none;
}

.postPreview h3 a:hover {
  color: #0D0D0D; /* Dark-Pond-4 */
}

.postAuthor {
  font-size: 0.9rem;
  color: #0D0D0D; /* Dark-Pond-3 */
  margin: 0.5rem 0;
}

.postDate {
  font-size: 0.75rem;
  color: #0D0D0D; /* Dark-Pond-5 */
  float: right;
}

.postExcerpt {
  margin-top: 1rem;
  line-height: 1.6;
}
